.aboutMeWrapper {
    height: 100vh;
    min-height: 700px;
    display: flex;
    justify-content: center;
}

.aboutMeContent {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 200px;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1600px;
}

.aboutMeSecTitle {
    color: #C0C0C0;
    font-weight: 400;
    font-size: 16px;
}

.aboutMeOverViewTxt {
    color: white;
    font-size: 42px;
}

.aboutMeTxt {
    margin-top: 24px;
    color: #C0C0C0;
    font-size: 15px;
}

.aboutMeCardsWrapper {
    width: 100%;
    display: flex;
    -webkit-user-select: none;  /* Chrome, Safari and Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;  
    gap: 62px;
    justify-content: center;
    margin-top: 42px;
    flex-wrap: wrap;
}

.aboutMeCard {
    background-color: #151515;
    border-radius: 10px;
    border: 2px solid rgb(200, 200, 200);
    padding: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 240px;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); /* This line adds a box shadow */
    min-height: 258px;
}

.cardImg {
    width: 60px;
    height: 60px;
}

.cardTitle {
    color: white;
    font-size: 16px;
}

@media (max-width: 1536px) {
    .aboutMeCotent {
        padding-left: calc(200px + (100vw - 1536px) / 8);
        padding-right: calc(200px + (100vw - 1536px) / 8);
    }
    .aboutMeSecTitle {
        font-size: calc(16px + (100vw - 1536px) / 250);
    }
    .aboutMeOverViewTxt {
        font-size: calc(42px + (100vw - 1536px) / 250);
    }
    .aboutMeTxt {
        font-size: calc(15px + (100vw - 1536px) / 250);
    }
    .aboutMeCardsWrapper {
        gap: calc(62px + (100vw - 1536px) / 20);
    }
    .aboutMeCard {
        width: calc(240px + (100vw - 1536px) / 9);
        padding: calc(62px + (100vw - 1536px) / 20);
    }
    .cardImg {
        width: calc(60px + (100vw - 1536px) / 50);
        height: calc(60px + (100vw - 1536px) / 50);;
    }
    .cardTitle {
        font-size: calc(16px + (100vw - 1536px) / 200);
    }
}

@media (max-width: 1150px) {
    .aboutMeCotent {
        padding-left: calc(150px + (100vw - 1150px) / 3);
    }
    .aboutMeCardsWrapper {
        justify-content: flex-start;
    }
}


@media (max-width: 800px) {
    .aboutMeCotent {
        padding-left: calc(108px + (100vw - 800px) / 4);
        padding-right: calc(108px + (100vw - 800px) / 4);
        padding-bottom: 56px;
    }
    .aboutMeCardsWrapper {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .appImg.aboutme {
        min-height: 1400px;
    }
    .aboutMeWrapper {
        min-height: 1400px;
    }
    .aboutMeCotent {
        padding-left: calc(70px + (100vw - 500px) / 4);
        padding-right: calc(70px + (100vw - 500px) / 4);
        padding-bottom: unset;
    }
    .aboutMeSecTitle {
        font-size: calc(12px + (100vw - 500px) / 250);
    }
    .aboutMeOverViewTxt {
        font-size: calc(38px + (100vw - 500px) / 250);
    }
    .aboutMeTxt {
        font-size: calc(11px + (100vw - 500px) / 250);
    }
    .aboutMeCardsWrapper {
        gap: calc(62px + (100vw - 500px) / 20);
    }
    .aboutMeCard {
        width: calc(220px + (100vw - 500px) / 10);
        padding: calc(48px + (100vw - 500px) / 20);
    }
    .cardImg {
        width: calc(50px + (100vw - 500px) / 50);
        height: calc(50px + (100vw - 500px) / 50);;
    }
    .cardTitle {
        font-size: calc(15px + (100vw - 500px) / 200);
    }
}