.heroWrapper {
    height: 760px;
}

.heroContent {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 200px;
    position: relative;
    z-index: 2;
}

.heroContentInfoWrapper {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroDevName {
    font-size: 80px;
}

.heroTypeAnimationWrapper {
    font-size: 50px;
    font-weight: 200;
}
    
.heroBtn {
    width: 170px;
    border: 2px solid white;
    color: black;
    cursor: pointer;
    font-size: 18px;
    margin: 15px 0 40px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to top right, black 50%, white 50%);
    background-size: 200% 200%;
    transition: background-position 0.3s, color 0.3s;
    background-position: 99% 0;
    overflow: hidden;
  }
  
  .heroBtn:hover {
    color: white;
    background-position: 0 100%;
  }
  

.starsCanvasWrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}