.navBarWrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 70px;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
}

.navBarContent {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    padding: 15px 200px;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
}

.navBarTitle {
    font-size: 20px;
}

.navBarItemsWrapper {
    display: flex;
    list-style: none;
    gap: 44px;
}

.navBarItem {
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: rgb(200, 200, 200);
    transition: color 0.3s ease-in-out;
}

.navBarItem:hover {
    color: white;
}

@media (max-width: 1536px) {
    .navBarContent {
        padding-left: calc(200px + (100vw - 1536px) / 8);
        padding-right: calc(200px + (100vw - 1536px) / 8);
    }
}

@media (max-width: 500px) {
    .navBarContent {
        padding-left: calc(70px + (100vw - 500px) / 4);
        padding-right: calc(70px + (100vw - 500px) / 4);
    }
    .navBarTitle {
        font-size: calc(20px + (100vw - 500px) / 50);;
    }
    .navBarItemsWrapper {
        gap: calc(44px + (100vw - 500px) / 16);
    }
}