.sideBarWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    z-index: 5;
}

.sideBarContent {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 24px 20px;
    border-radius: 100px;
}

.sideBarListWrapper {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.sideBarListItemLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarListItem {
    color: white;
    transition: all 0.2s ease-in-out;
}

.sideBarListItem.inRoute {
    color: black;
}

.sideBarListItem:hover {
    color: black;
}

@media screen and (min-width: 1536.1px) and (max-width: 100vw) {
}

@media (max-width: 1536px) {
    .sideBarWrapper {
        right: calc(60px + (100vw - 1536px) / 25);
    }
}

@media (max-width: 800px) {
    .sideBarWrapper {
        position: fixed;
        top: unset;
        right: unset;
        transform: unset;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .sideBarContent {
        border-radius: 0px;
        padding: 20px 16px;
    }
    .sideBarListWrapper {
        flex-direction: unset;
        justify-content: space-around;
    }
}

@media (max-width: 500px) {
}